@model Travel_Experts__Workshop_4.Models.CustomerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center mt-3">Profile Page</h3>

<div class="d-flex flex-column align-items-center">
    <h4>Welcome @Model.Customer.CustFirstName @Model.Customer.CustLastName</h4>
    <hr />
    <div class="border rounded p-3 col-sm-6 text-center" style="box-shadow: rgb(135,206,250) -1px 3px 15px -3px;">
        <div>
            <p class="fw-bold"> @Html.DisplayNameFor(model => model.Customer.CustFirstName) :  @Html.DisplayFor(model => model.Customer.CustFirstName)</p>
        </div>
        <div>
            <p class="fw-bold"> @Html.DisplayNameFor(model => model.Customer.CustLastName) :  @Html.DisplayFor(model => model.Customer.CustFirstName)</p>

        </div>
        <div>
            <p class="fw-bold"> @Html.DisplayNameFor(model => model.Customer.CustAddress) : @Html.DisplayFor(model => model.Customer.CustAddress)</p>

        </div>
        <div>
            <p class="fw-bold"> @Html.DisplayNameFor(model => model.Customer.CustHomePhone) : @Html.DisplayFor(model => model.Customer.CustHomePhone)</p>

        </div>
        <div>
            <p class="fw-bold"> @Html.DisplayNameFor(model => model.Customer.CustEmail) : @Html.DisplayFor(model => model.Customer.CustEmail)</p>
        </div>

    </div>
    <a class="btn btn-outline-info m-3" asp-action="Edit" asp-controller="Customers" asp-route-id="@Model.Customer.CustomerId">Update Details</a> 
</div>

<div class="mt-3">
    <h4 class="text-center m-3"> Bookings</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">Destination</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Bookings)
            {<tr>
                @foreach (var item1 in item.BookingDetails)
                {
                    <td>
                        @Html.DisplayFor(modeItem => item1.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item1.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item1.BasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item1.TripStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item1.TripEnd)
                    </td>

                    @if (item1.TripStart > DateTime.Today)
                    {
                        <td class=" text-center">
                            <a class="btn btn-outline-info m-1" asp-action="Edit" asp-controller="Bookings" asp-route-id="@item.BookingId">Modify</a>
                            <a class="btn btn-outline-danger m-1" asp-action="Delete" asp-controller="Bookings" asp-route-id="@item.BookingId">Cancel Booking</a>
                        </td>
                    }

                }

</tr>         
            }

        </tbody>
    </table>
</div>


