@{
    ViewData["Title"] = "ContactUs";
}

@model HomeViewModel

    
    <div class="container shadow d-flex flex-column p-3 col-sm-12 col-lg-6" style="width: 100%;">

        <h1 class="text-center my-5">Our Office Locations</h1>

            <div class="container-fluid">
                <div class="#mycard row justify-content-center align-items-start d-flex bg-dark rounded">
                        @foreach (var item in @Model.Agency)
                        {
                            <div class="card bg-light m-5" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">@item.AgncyCity Office</h5>
                                    <p class="mb-2">Agency Address</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyAddress</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyCity</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyProv</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyPostal</p>
                                    <p class="text-white mb-3" style="margin:0;">@item.AgncyCountry</p>
                                    <p class="mb-2">Agency Phone</p>
                                    <p class="text-white">@item.AgncyPhone</p>
                                    <p class="mb-2"> Agency Fax</p>
                                    <p class="text-white">@item.AgncyFax</p>
                                </div>
                            </div>
                        }
                </div>
            </div>
    </div>


    

    <div class="container shadow d-flex flex-column p-3 col-sm-12 col-lg-6" style="width: 100%;">
        <h1 class="text my-5" style="text-align: center;"> Our Team</h1>
        <h5 class="text mb-5" style="text-align: center;"> Agent Contact Information</h5>

        <div class="container-fluid">
            <div class="#mycard row justify-content-center align-items-start d-flex bg-dark rounded">
                @foreach (var item in @Model.Agents)
                {
                    <div class="card bg-light m-3" style='width: 18rem;'>
                        <div class="card-body">
                            <img src="~/Images/(@item.AgentId)_.jpg" alt="travel agent" class="card-img-top"/>
                            <p class="text-white" style="margin:0;">@item.AgtFirstName @item.AgtFirstName</p>
                            <p class="">@item.AgtPosition</p>
                            <p class="text-white">@item.AgtEmail</p>
                            <p class="text-white">@item.AgtBusPhone</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
