@{
    ViewData["Title"] = "ContactUs";
}

@model HomeViewModel

    
    <div class="container shadow d-flex flex-column p-3 col-sm-12 col-lg-6" style="width: 100%;">

        <h1 class="text-center my-5">Our Office Locations</h1>

            <div class="container-fluid">
                <div class="#mycard row justify-content-center align-items-start d-flex bg-dark rounded">
                        @foreach (var item in @Model.Agency)
                        {
                            <div class="card bg-light m-5" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">@item.AgncyCity Office</h5>
                                    <p class="mb-2">Agency Address</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyAddress</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyCity</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyProv</p>
                                    <p class="text-white" style="margin:0;">@item.AgncyPostal</p>
                                    <p class="text-white mb-3" style="margin:0;">@item.AgncyCountry</p>
                                    <p class="mb-2">Agency Phone</p>
                                    <p class="text-white">@item.AgncyPhone</p>
                                    <p class="mb-2"> Agency Fax</p>
                                    <p class="text-white">@item.AgncyFax</p>
                                </div>
                            </div>
                        }
                </div>
            </div>
    </div>


    

    <div class="container shadow d-flex flex-column p-3 col-sm-12 col-lg-6" style="width: 100%;">
        <h1 class="text my-5" style="text-align: center;"> Our Team</h1>
        <h5 class="text mb-5" style="text-align: center;"> Agent Contact Information</h5>
        <div class="container-fluid">
            <div class="#mycard row justify-content-center align-items-start d-flex bg-dark rounded">
                @foreach (var item in @Model.Agents)
                {
                    <div class="card bg-light m-3" style='width: 18rem;'>
                        <div class="card-body">
                            <p class="text-white" style="margin:0;">@item.AgtFirstName @item.AgtFirstName</p>
                            <p class="">@item.AgtPosition</p>
                            <p class="text-white">@item.AgtEmail</p>
                            <p class="text-white">@item.AgtBusPhone</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>





    <div class="container-fluid shadow d-flex flex-column col-sm-12 col-lg-6" style="width: 100%;">
        <div class="container-fluid d-flex flex-column col-sm-12 col-lg-6" style="width: 50%;">
            <h1 class="mb-3 mt-5" style="text-align: center;">Contact Form</h1>
            <h5 class="" style="text-align: center;">Send us your questions.</h5>
        </div>
    </div>
<form>
  <fieldset>
    <div class="form-group">
        <label for="" class="form-label mt-4">Full Name</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="Enter Full Name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="" class="form-label mt-4">Enter your question</label>
      <textarea class="form-control" id="" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
  </fieldset>
</form>






