@model Travel_Experts__Workshop_4.Domain.Booking

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center mt-5 " style="text-shadow: 3px 1px 3px #CE5937; ">Cancel Booking</h4>

<h5 class="text-center">Are you sure you want to delete the booking</h5>
<hr />
<div class="rounded p-3" style=" box-shadow: rgb(30,144,255) -1px 3px 15px -3px;">


    <div class="row dflex p-3 text-center">
        <p class="col-sm-12 fs-5">@Html.DisplayNameFor(model => model.BookingDate) : @Html.DisplayFor(model => model.BookingDate)</p>
        <p class="col-sm-12 fs-5"> @Html.DisplayNameFor(model => model.BookingNo) :  @Html.DisplayFor(model => model.BookingNo)</p>
        <p class="col-sm-12 fs-5">@Html.DisplayNameFor(model => model.TravelerCount) : @Html.DisplayFor(model => model.TravelerCount)</p>
        <p class="col-sm-12 fs-5">@Html.DisplayNameFor(model => model.Customer) :  @Html.DisplayFor(model => model.Customer.CustFullName)</p>
        <p class="col-sm-12 fs-5">@Html.DisplayNameFor(model => model.Package) :  @Html.DisplayFor(model => model.Package.PkgName)</p>
    </div>
    <form asp-action="Delete" class="text-center m-3">
        <input type="hidden" asp-for="BookingId" />
        <input type="submit" value="Cancel Booking" class="btn btn-outline-danger" /> |
        <a asp-action="Index" asp-controller="User" class="btn btn-outline-secondary ">Profile Page</a>
    </form>
</div>
